


<div class="row">
    <h2></h2>
</div>
<div class="starter-template">
    <h1>Welcome to our student admin app</h1>
    <p class="lead">Use the navigation to manage courses and students</p>
</div>
