
@{
    ViewData["Title"] = "ConfirmDelete";
}

<h2>Delete</h2>
<div class="alert alert-info" role="alert">
    Delete student? <a asp-controller="Students"
                       asp-action="Index" class="btn btn-info">No</a>
    
         <a asp-controller="Students"
                           asp-action="Delete"
                           asp-route-Id="@ViewBag.Id"
                           class="btn btn-danger">Yes</a>
    </div>
