@model StudentsShowInfoViewModel
@{
    ViewData["Title"] = "ShowInfo";
}

<h2>ShowInfo</h2>
<div class="container">
    <div class="card" style="width: 18rem;">
        <!--tips: add .text-center,.text-right to the .card to change card text alignment-->
        <img src="~/images/@Model.Image" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Student</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Model.Name</h6>
            <p class="card-text"><b>Courses:</b></p>
            @for (int i = 0; i < Model.CoursesIds.Count(); i++)
            {
                <a class="card-link" asp-action="ShowCourseInfo"
                   asp-controller="Courses"
                   asp-route-Id="@Model.CoursesIds.ToArray()[i]">@Model.CoursesTitles.ToArray()[i]</a>
            }
            
        </div>
    </div>
</div>

