@model StudentsAddUpdateViewModel

<form asp-controller="Students"
      asp-action="Update"
      method="post"
      enctype="multipart/form-data">
    <div class="form-group">
        <img class="img-responsive" width="140" height="150" src="~/images/@ViewBag.image" />
    </div>
    <partial name="StudentAddUpdatePartial" model="@Model" />
</form>